<h1>New article</h1>
<div>
	<p>
	<%= form_for @article do |f| %>
	</p>
	<p>
	<%= f.text_field :title, :placeholder => "Title" %>
	</p>
	<p>
	<%= f.text_area :content, :placeholder => "Enter Artcile Body" %>
	</p>
	<%= f.submit %>
		<% end %>
</div>
<%= link_to "Back", root_path %>